<div class="md:col-span-8 md:grid md:grid-cols-8 py-2 md:py-1">
    <div class="md:flex md:inline-flex items-center md:col-span-3 block">
        {{ good.name }}
    </div>
    <div class="md:flex md:inline-flex items-center md:col-span-2 block">
        {{ good.price }} {{ good.currency.code }}
    </div>
    <div class="flex items-center md:col-span-2">
        {{ 'text.items'|trans({ 'count': good.quantity }) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right -top-9 relative md:top-0 md:float-none md:col-span-1 flex space-x-1 justify-end">
            <a href="{{ url('good_edit', { id: good.id }) }}"><i class="far fa-edit fa-1.5x"></i></a>
            <a href="{{ url('good_delete', { id: good.id }) }}"><i class="fa fa-trash fa-1.5x"></i></a>
        </div>
    {% endif %}
</div>